<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>armLegDown.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 96}, {196, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, -44}</string>
			<key>spriteSize</key>
			<string>{196, 152}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{210, 0}, {196, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>armLegUp.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 48}, {208, 204}}</string>
			<key>spriteOffset</key>
			<string>{0, -22}</string>
			<key>spriteSize</key>
			<string>{208, 204}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {208, 204}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>body0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{57, 10}, {142, 200}}</string>
			<key>spriteOffset</key>
			<string>{0, 18}</string>
			<key>spriteSize</key>
			<string>{142, 200}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{354, 186}, {142, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>body1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{60, 10}, {142, 192}}</string>
			<key>spriteOffset</key>
			<string>{3, 22}</string>
			<key>spriteSize</key>
			<string>{142, 192}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 206}, {142, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>body2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{54, 10}, {142, 204}}</string>
			<key>spriteOffset</key>
			<string>{-3, 16}</string>
			<key>spriteSize</key>
			<string>{142, 204}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{210, 154}, {142, 204}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>body3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{62, 10}, {132, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, 19}</string>
			<key>spriteSize</key>
			<string>{132, 198}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{144, 360}, {132, 198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eyes0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 17}, {54, 22}}</string>
			<key>spriteOffset</key>
			<string>{-3, 22}</string>
			<key>spriteSize</key>
			<string>{54, 22}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{144, 266}, {54, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eyes1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 18}, {46, 18}}</string>
			<key>spriteOffset</key>
			<string>{-2, 23}</string>
			<key>spriteSize</key>
			<string>{46, 18}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{144, 290}, {46, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eyes2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{35, 12}, {24, 24}}</string>
			<key>spriteOffset</key>
			<string>{-3, 26}</string>
			<key>spriteSize</key>
			<string>{24, 24}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{144, 326}, {24, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>eyes3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 16}, {56, 24}}</string>
			<key>spriteOffset</key>
			<string>{-3, 22}</string>
			<key>spriteSize</key>
			<string>{56, 24}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{144, 240}, {56, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>haircut0_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 16}, {122, 124}}</string>
			<key>spriteOffset</key>
			<string>{3, -8}</string>
			<key>spriteSize</key>
			<string>{122, 124}</string>
			<key>spriteSourceSize</key>
			<string>{140, 140}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{130, 560}, {122, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>haircut0_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 0}, {126, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, 18}</string>
			<key>spriteSize</key>
			<string>{126, 104}</string>
			<key>spriteSourceSize</key>
			<string>{140, 140}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{278, 474}, {126, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>haircut1_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 39}, {116, 90}}</string>
			<key>spriteOffset</key>
			<string>{2, -14}</string>
			<key>spriteSize</key>
			<string>{116, 90}</string>
			<key>spriteSourceSize</key>
			<string>{140, 140}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{254, 580}, {116, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>haircut1_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {128, 88}}</string>
			<key>spriteOffset</key>
			<string>{2, 24}</string>
			<key>spriteSize</key>
			<string>{128, 88}</string>
			<key>spriteSourceSize</key>
			<string>{140, 140}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 520}, {128, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>haircut2_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 22}, {128, 118}}</string>
			<key>spriteOffset</key>
			<string>{1, -11}</string>
			<key>spriteSize</key>
			<string>{128, 118}</string>
			<key>spriteSourceSize</key>
			<string>{140, 140}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 400}, {128, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>haircut2_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 0}, {122, 102}}</string>
			<key>spriteOffset</key>
			<string>{-2, 19}</string>
			<key>spriteSize</key>
			<string>{122, 102}</string>
			<key>spriteSourceSize</key>
			<string>{140, 140}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 610}, {122, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>haircut3_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 0}, {104, 124}}</string>
			<key>spriteOffset</key>
			<string>{-5, 8}</string>
			<key>spriteSize</key>
			<string>{104, 124}</string>
			<key>spriteSourceSize</key>
			<string>{140, 140}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{408, 0}, {104, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>haircut3_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 40}, {128, 84}}</string>
			<key>spriteOffset</key>
			<string>{6, -12}</string>
			<key>spriteSize</key>
			<string>{128, 84}</string>
			<key>spriteSourceSize</key>
			<string>{140, 140}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{354, 388}, {128, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mouth0_close.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 44}, {64, 32}}</string>
			<key>spriteOffset</key>
			<string>{-1, -10}</string>
			<key>spriteSize</key>
			<string>{64, 32}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{144, 206}, {64, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mouth0_open.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 42}, {88, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -10}</string>
			<key>spriteSize</key>
			<string>{88, 36}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{408, 126}, {88, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mouth1_close.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 36}, {46, 30}}</string>
			<key>spriteOffset</key>
			<string>{-3, -1}</string>
			<key>spriteSize</key>
			<string>{46, 30}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{354, 154}, {46, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mouth1_open.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 36}, {74, 32}}</string>
			<key>spriteOffset</key>
			<string>{-3, -2}</string>
			<key>spriteSize</key>
			<string>{74, 32}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{278, 402}, {74, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mouth2_close.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 42}, {46, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{46, 14}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{144, 310}, {46, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mouth2_open.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 40}, {78, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{78, 18}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{402, 164}, {78, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mouth3_close.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 45}, {66, 34}}</string>
			<key>spriteOffset</key>
			<string>{-2, -12}</string>
			<key>spriteSize</key>
			<string>{66, 34}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{278, 436}, {66, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mouth3_open.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 44}, {74, 40}}</string>
			<key>spriteOffset</key>
			<string>{-1, -14}</string>
			<key>spriteSize</key>
			<string>{74, 40}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{278, 360}, {74, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>characters</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>characters</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>